doctype html 
html 
  head 
    block head
    
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(http-equiv='Content-Security-Policy' content="default-src * self blob: data: gap:; style-src * self 'unsafe-inline' blob: data: gap:; script-src * 'self' 'unsafe-eval' 'unsafe-inline' blob: data: gap:; object-src * 'self' blob: data: gap:; img-src * self 'unsafe-inline' blob: data: gap:; connect-src self * 'unsafe-inline' blob: data: gap:; frame-src * self blob: data: gap:;")

      //- <link rel="stylesheet" href="css/style.css" />
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png' )
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      title Natours | #{title}
      




  body
    //  HEADER
    include _header

    //- // CONTENT
    //- main.main 
    //-     h1= tour 
    // CONTENT
    block content
      h1 it works

    // FOOTER
    include _footer

    //- script(src='https://unpkg.com/axios/dist/axios.min.js')
    //- script(src='/js/mapbox.js')
    //- script(src='/js/login.js')(type='module')
    script(src='https://js.stripe.com/v3/')
    script(src='/js/bundle.js')