extends base

block content
 main.main
  .login-form
    h2.heading-secondary.ma-bt-lg Log into your account
    form.form.form--login
        -if(signUp)
         .form__group
            label.form__label(for='name') Name
            input#user-name.form__input(type='name', placeholder='your name', required)
        .form__group.ma-bt-md
        .form__group
            label.form__label(for='email') Email address
            input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group.ma-bt-md
            label.form__label(for='password') Password
            input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        -if(signUp)
         .form__group.ma-bt-md
            label.form__label(for='confirm-password') Confirm Password
            input#confirm-password.form__input(type='confirm-password', placeholder='••••••••', required, minlength='8')
        -if(signUp)
          .form__group.form__photo-upload
            input.form_upload#photo(type='file' accept='image/*', name='photo')
            label.form__label(for='photo') add your Photo
        .form__group
            button.btn.btn--green#sign-up= `${!signUp ? 'Login': 'Sign Up' }`